@media(max-width:1440px){

}
@media(max-width:1024px){
    .navigation {
        margin-left: -00px;
    }
    .content h2 {
        font-size: 2em;
    }
    .btn-talk{
        position: relative;
    top: 0px;
    left: -25px;
}
.content h4 {
    font-size: 29px;
}
.content h2 {
    font-size: 29px;
}
header {
    position: fixed;
    top: -65px;
    left: -49px;
}
    .img img {
        margin-top: 50%;
        margin-left: 20%;
        margin-right: 60%;
        width: 100%;
        height: 60vh;
        border-radius: 90px;
        box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
    }
}

@media(min-width:320px) and (max-width:767px){

}